.found__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  & .add__btn {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #7687ff;
    height: 100%;
    padding: 10px 5px;
    font-weight: 600;
    letter-spacing: 0.05cm;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: white;
      color: black;
    }
  }
  & .user__main-info {
    display: flex;
    flex: 0 0 70%;
    align-items: center;
  }
  & .user__name-info {
    text-align: left;

    & .user__full-name {
      color: white;
    }
    & .user__login {
      color: #b5b5b5;
      font-size: 14px;
    }
  }
  &:not(:last-child) {
    padding-bottom: 10px;
  }

  & .user__avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    & img {
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      height: 100%;
    }
  }
}
