<div class="chat-container">
  <div class="chat-header">
    <button class="chat-close-btn" (click)="closeChat()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h3 class="chat-title">Chat</h3>
  </div>
  <div class="chat-content">
    <div class="messages-container" #messageContainer>
      <div *ngFor="let message of dialogMessages$ | async"
           [ngClass]="message.message_name?'them':'me'"
           class="message">
        <span class="message-name" [ngClass]="message.message_name?'them':'me'">
          {{message.message_name}}
        </span>
        <p class="message-text">{{message.message_text}}
          <span style="display: inline-block; width: 35px; height: 5px"></span></p>
        <p class="message-time">{{message.message_time}}</p>
      </div>
    </div>
    <form action="#" class="chat-form">
      <div class="send-container">
        <textarea maxlength="500" (keydown.enter)="sendMessage()" #messageArea class="message-area"
                  name="Message"
                  id="message-area"
                  placeholder="Enter your message"
        ></textarea>
        <button (click)="sendMessage()" class="send-message-btn">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
