.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 360px;
  position: relative;
  background: url(../../../assets/chat_bg.jpg);
  background-size: cover;
}

.chat-header {
  display: flex;
  height: 50px;
  box-sizing: border-box;
  padding: 7px 10px;
  background: #fff;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.chat-close-btn {
  display: flex;
  flex: 1;
  color: #333;
  background: transparent;
}

.chat-title {
  display: flex;
  flex: auto;
  text-transform: uppercase;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.mat-icon {
  transform: scale(1.25);
}

.chat-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.messages-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  padding: 7px 10px;
  overflow-y: scroll;
}

.chat-form {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.send-container {
  display: flex;
  align-items: center;
}

.message-area {
  width: 100%;
  resize: none;
  border-radius: 15px;
  flex: 1 1 80%;
  padding: 10px;
}

.send-message-btn {
  background: transparent;
  color: #2087b2;
  height: 40px;
  width: 40px;
}

.message {
  line-height: 1.25;
  max-width: 75%;
  padding: 8px 10px;
  position: relative;
  word-wrap: break-word;
  min-width: 150px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.me {
    align-self: flex-end;
    background-color: rgb(233, 246, 255);
    border: 1px solid rgb(23, 143, 225);
    border-radius: 10px 2px 10px 10px;
    color: #fff !important;
  }

  &.them {
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 143, 225);
    border-radius: 2px 10px 10px 10px;
    color: #000;
  }
}

.message.me + .message.them {
  margin-top: 16px;
}

.message.them + .message.me {
  margin-top: 16px;
}

.message-name {
  font-size: 14px;
  font-weight: 700;
  color: black;
  max-width: 50px;

  &.me {
    left: 100%;
  }
}

.message-text {
  color: #000;
  font-size: 16px;
  margin: 0;
  white-space: pre-line;
}

.message-time {
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  color: rgb(0, 173, 239);
  position: absolute;
  bottom: -9px;
  right: 7px;
}

@media screen and (max-width: 991px) {
  .chat-container {
    width: 100%;
  }
}
