@media screen and(orientation: landscape){
	.flex-1{
		& .user__cam{
			flex:1 1 100%;
		}
	}
	.flex-2{
		& .user__cam{
			flex:1 1 50%;
		}
	}
	.flex-3{
		& .user__cam{
			flex:0 1 calc(100%/2);
		}
	}
	.flex-4{
		& .user__cam{
			flex:1 1 calc(100%/2);
		}
	}
	.flex-5{
		& .user__cam{
			flex:1 1 calc(100%/3);
		}
	}
	.flex-6{
		& .user__cam{
			flex:1 1 calc(100%/3);
		}
	}
	.flex-7{
		& .user__cam{
			flex:0 1 calc(100%/3);
		}
	}
	.flex-8{
		& .user__cam{
			flex:1 1 calc(100%/3);
		}
	}
	.flex-9{
		& .user__cam{
			flex:1 1 calc(100%/3);
		}
	}
	.flex-10{
		& .user__cam{
			flex:0 1 calc(100%/3);
		}
	}
	.flex-11{
		& .user__cam{
			flex:0 1 calc(100%/3);
		}
	}
	.flex-12{
		& .user__cam{
			flex:0 1 calc(100%/3);
		}
	}


}

@media screen and (orientation:portrait) {
	.flex-2{
		flex-direction: column;
	}
}