.user__cam-container {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  transition: 1s ease-in-out;

  & .img__container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    &.hide {
      display: none;
    }
  }
  & .no-image {
    width: 50%;
    height: width;

    background-color: white;
    border-radius: 50%;
  }

  & .full__screen {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 5;
    &.hide {
      display: none;
    }
  }
  & #user__cam-me {
    transform: rotateY(180deg);
  }
  & .user__cam {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    pointer-events: none;
    height: 100%;
    border: 1px solid white;
    opacity: 1;
    max-height: 100vh;
    z-index: 4;
    transition: 0.2s;
    &.unmirror {
      transform: rotateY(360deg) !important;
    }
  }

  & .user__name {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(146, 143, 143, 0.685);
    width: 100%;
    text-align: center;
    color: white;
    min-height: 18px;
    padding-bottom: 5px;
    z-index: 5;
  }
}
.user__stats-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background: url("/images/signal.png") no-repeat center;
  background-size: 20px;
  &.good {
    background-color: rgb(107, 209, 87);
  }

  &.average {
    background-color: rgb(238, 195, 4);
  }
}

.lds-dual-ring-main {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hide {
    display: none;
  }
}
.lds-dual-ring-main:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring-main {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  color: white;
  font-size: 90px;
}
