.user__cam-container {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  transition: 1s ease-in-out;
  border: 1px solid whitesmoke;
  background: #282c34;
  & .user__stats-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    top: 10px;
    left: 10px;
  }
  & .micro__status {
    position: relative;

    align-self: center;
    width: 37px;
    z-index: 30;
    opacity: 0.9;
    background: white;
    border-radius: 25px;
  }
  & .img__container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #282c34;
    overflow: hidden;
    &.hide {
      display: none;
    }
  }
  & .no-image {
    width: 40%;
    background-color: white;
    border-radius: 50%;
  }

  & .full__screen {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 5;
    margin-bottom: 10px;
    &.hide {
      display: none;
    }
  }
  & #user__cam-me {
    transform: rotateY(180deg);
  }
  & .user__cam {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    pointer-events: none;
    height: 100%;
    opacity: 1;
    max-height: 100vh;
    z-index: 3;
    transition: 0.2s;
    &.cover {
      object-fit: cover;
    }
    &.contain {
      object-fit: contain;
    }
    &.true {
      transform: rotateY(0deg) !important;
    }
    &.unmirror {
      transform: rotateY(360deg) !important;
    }
    &.hide {
      opacity: 0;
    }
  }

  & .user__name {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(146, 143, 143, 0.685);
    width: 100%;
    text-align: center;
    color: white;
    min-height: 18px;
    padding-bottom: 5px;
    z-index: 5;
  }
}
.user__stats-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;

  z-index: 5;
  background: url("/images/signal.png") no-repeat center;
  background-size: 20px;
  &.good {
    background-color: rgb(107, 209, 87);
  }

  &.average {
    background-color: rgb(238, 195, 4);
  }
}

.lds-dual-ring-main {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hide {
    display: none;
  }
}
.lds-dual-ring-main:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring-main {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  color: white;
  font-size: 90px;
}

.fullscreen-stream {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  position: relative;
  pointer-events: none;
  height: 100%;

  opacity: 1;
  max-height: 100vh;
}
