.user__cam-container {
  box-sizing: border-box;
  position: relative;

  & .full__screen {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 30px;
    height: 30px;
  }
  & .user__cam {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    pointer-events: none;
    height: 100%;
    border: 1px solid white;
    opacity: 100;

    transition: 0.2s;
    &.muted {
      opacity: 0;
    }
  }

  & .user__name {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(146, 143, 143, 0.685);
    width: 100%;
    text-align: center;
    color: white;
    min-height: 18px;
    padding-bottom: 5px;
  }
}
.user__stats-btn{
  width: 30px;
  height: 30px;
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  &.bad {
    background-color: indianred;
  }
}
