.active {
  background: #f8f9fa;
  border-left: 4px solid #2C85BE;
}
.dialog__list-item {
  position: relative;
  list-style-type: none;

  a {
    display: flex;
    align-items: center;
    color: #495057;
    padding: 9px 14px;
    border: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: #495057;
      background: #f8f9fa;
    }

    &:active {
      color: #495057;
      background: #f8f9fa;
    }
  }
}

.item-badge {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  top: 11px;
  right: 12px;
  padding: 5px;
  color: #fff;
  box-shadow: 0 15px 35px 0 rgb(40 201 241 / 30%);
  background-color: #0aacee;
  border-radius: 5px;
}

.item-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.item-info {
  margin-left: 15px;
  width: calc(100% - 65px);

  .item-name {
    font-weight: 500;
    max-width: calc(100% - 80px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin: 0;
  }

  .item-last-message {
    display: block;
    padding-bottom: 3px;
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin: 0;
  }

  .item-time {
    font-size: 11px;
  }
}
