.participant-info {
  display: flex;
  align-items: center;

  mat-icon {
    font-size: 12px;
    line-height: 24px;
    margin-left: 3px;
    width: 10px;
  }
}

.participant-name {
  color: #000;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.participant-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.remove-participant-btn {
  position: absolute;
  background: #888888;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  right: 7px;
  bottom: 21px;

  mat-icon {
    width: 14px;
    height: 14px;
    font-size: 15px;
  }
}
