<div class="participant-avatar"
     [ngStyle]="{'background-image': avatar?'url('+ avatar +')':'none',
                 'background-color': avatar?'':'skyblue'}">
  <p>{{full_name.slice(0, 2).toUpperCase()}}</p>
  <button *ngIf="!unselected" type="button" (click)="removeParticipant($event)" class="remove-participant-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="participant-info">
  <div class="participant-name">{{full_name}}</div>
  <mat-icon [ngStyle]="{'color': isMe?'#fea929':'#28b3f2'}">
    {{isMe ? 'stars' : 'person'}}
  </mat-icon>
</div>
