.container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.join {
	color: white;
	background-color: #9e0f73;
	padding: 15px 10px;
	border-radius: 25px;
	min-width: 270px;
	text-decoration: none;
	align-self: center;
	justify-self: center;
	transition: 0.2s;
	font-size: 20px;
	cursor: pointer;
	border: 0;
	outline: none;

	&:hover {
		opacity: 85%;
	}
}

.login__btn {
	display: block;

	min-width: 270px;
	max-height: 90%;
	margin: 10px 0;
	border-radius: 25px;
	font-size: 20px;
	padding: 15px 0px;
	color: #ffffff;
	background-color: black;
	text-decoration: none;
	transition: 0.2s;

	&:hover {
		opacity: 85%;
	}
	&:last-child {
		margin-bottom: 20px;
	}
	& span {
	}

	&.Bob {
		background-color: #077988;
	}
	&.Alice {
		background-color: #34ad86;
	}
	&.Ciri {
		background-color: #13aaae;
	}
	&.Dexter {
		background-color: #056a96;
	}
}

.users__container {
	display: flex;
	flex-direction: column;
}
