.main__content {
	background-color: white;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
	transition: 0.2s;
	&.small {
		@media screen and (min-width: 1400px) {
			width: 70%;
		}
		@media screen and (max-width: 1400px) {
			width: 100%;
		}

		@media screen and (max-width: 767px) {
			width: 0%;
		}
	}
}

.main__container {
	background-color: white;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	overflow: hidden;
	position: relative;

	& .main__header {
		flex: 0 1 11.5%;
		position: relative;
		background-color: white;
		margin-left: 15px;
		border-bottom: 1px solid #c0c0c0;

		& .header-none {
			width: 100%;
			font-weight: 600;
			font-size: 30px;
			height: 100%;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	& .messages__container {
		flex: 0 1 100%;
		display: flex;
		height: 100%;
		flex-direction: column-reverse;
		padding-bottom: 5px;
		overflow-x: hidden;
		width: 100%;
		position: relative;
		height: 100%;
		overflow-y: scroll;
		background-color: white;
		& .messages {
			display: flex;
			padding-left: 15px;
			flex-direction: column;
			width: 90%;
			margin: 0 auto;
			& .unread__messages-scroll {
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 83%;
				cursor: pointer;
				left: 96%;
				border: 1px solid;
				border-radius: 50%;
				width: 35px;
				height: 35px;
				& .unread__messages-counter {
					position: absolute;
					width: 25px;
					height: 25px;
					/* border: 1px solid; */
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					top: -76%;
					background: #6aacee;
					color: white;
				}
			}

			& .no-msg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		& .choose__chat {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
