.chat {
  display: flex;
  height: 100%;
  width: 100%;

  app-dialogs {
    display: flex;
    height: 100%;
    width: 336px;
  }

  app-chat-messages {
    display: flex;
    height: 100%;
    width: calc(100% - 336px);
  }

  app-dialog-creat {
    display: flex;
    height: 100%;
    width: calc(100% - 336px);
  }
}


@media screen and (min-width: 768px) and (max-width: 960px) {
  app-dialogs {
    min-width: 280px;
  }
  app-chat-messages {
    width: calc(100% - 280px);
  }
}

@media screen and (max-width: 767px) {
  .selected {
    app-dialogs {
      display: none !important;
    }

    app-chat-messages {
      display: flex !important;
      width: 100% !important;
    }
  }
  app-dialogs {
    display: flex !important;
    width: 100% !important;
  }
  app-chat-messages {
    display: none !important;
  }
}
