.hidden {
  display: none !important;
}

#main {
  height: 100%;
  width: 100%;
}

#login,
#call,
#videochat {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#call,
#videochat {
  background-color: #000000;
}

#login-logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#login-image {
  margin-top: 10px;
  height: 200px;
  width: 320px;
}

#login-caption,
#login-loader,
.videochat-stream-loader {
  height: 32px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login-caption,
#login-loader-text {
  line-height: 30px;
}

#login-buttons-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
}

#login-buttons-container .login-button {
  height: 50px;
  min-width: 270px;
  max-height: 90%;
  margin: 5px 0;
  border-radius: 25px;
  font-size: 20px;
  color: #ffffff;
}

#call-select-users {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#call-buttons-container,
#videochat-buttons-container {
  width: 320px;
  height: 50px;
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#call-buttons-container .call-button,
#videochat-buttons-container .videochat-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#select-header {
  color: #1198d4;
  font-size: 20px;
  padding: 20px;
}

.select-user {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: 5px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.select-user span {
  height: 18px;
  width: 100px;
  display: block;
}

.select-user input {
  height: 30px;
  width: 20px;
  display: block;
  margin: 0;
}

.videochat-stream-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.videochat-stream-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.videochat-stream {
  height: 100%;
  width: 100%;
  object-fit: cover;
  visibility: hidden;
}

#call-start {
  background: forestgreen url("../images/call.svg") no-repeat center;
}

#videochat-mute-unmute {
  background: #0000ff url("../images/mic.svg") no-repeat center;
}

#videochat-mute-unmute.muted {
  background: #0000ff url("../images/mic_off.svg") no-repeat center;
}

#videochat-stop-call {
  background: #ff0000 url("../images/call_end.svg") no-repeat center;
}

#videochat-switch-camera {
  background: #ffa500 url("../images/switch_video.svg") no-repeat center;
}

.Alice-bg-color {
  background-color: #34ad86;
}
.Bob-bg-color {
  background-color: #077988;
}
.Ciri-bg-color {
  background-color: #13aaae;
}
.Dexter-bg-color {
  background-color: #056a96;
}

#guest-room-join-btn {
  background-color: #9e0f73;
  padding: 10px;
}

.guest-title {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

#videochat-streams {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-gap: 13px;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  grid-auto-columns: 1fr;
}