.grid-1 {
  grid-template: "stream0";
  grid-template-rows: 1fr;
}

@media screen and (orientation:landscape) {
  .grid-2 {
    grid-template: "stream0 stream1";
    grid-template-rows: 1fr;
  }
}

@media screen and (orientation:portrait) {
  .grid-2 {
    grid-template: "stream0"
                   "stream1";
    grid-template-rows: repeat(2, 50%);
  }
}

@media screen and (orientation:landscape) {
  .grid-3 {
    grid-template: "stream0 stream0 stream1 stream1"
                   ". stream2 stream2 .";
    grid-template-rows: repeat(2, 50%);
  }
}

@media screen and (orientation:portrait) {
  .grid-3 {
    grid-template: "stream0 stream1"
                   "stream2 stream2";
    grid-template-rows: repeat(2, 50%);
  }
}

.grid-4 {
  grid-template: "stream0 stream0 stream1 stream1"
                 "stream2 stream2 stream3 stream3";
  grid-template-rows: repeat(2, 50%);
}

@media screen and (orientation:landscape) {
  .grid-5 {
    grid-template: "stream0 stream0 stream1 stream1 stream2 stream2"
                   ". stream3 stream3 stream4 stream4 .";
    grid-template-rows: repeat(2, 50%);
  }
}

@media screen and (orientation:portrait) {
  .grid-5 {
    grid-template: "stream0 stream1"
                   "stream2 stream3"
                   "stream4 stream4";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:landscape) {
  .grid-6 {
    grid-template: "stream0 stream0 stream1 stream1 stream2 stream2"
                   "stream3 stream3 stream4 stream4 stream5 stream5";
    grid-template-rows: repeat(2, 50%);
  }
}

@media screen and (orientation:portrait) {
  .grid-6 {
    grid-template: "stream0 stream1"
                   "stream2 stream3"
                   "stream4 stream5";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:landscape) {
  .grid-7 {
    grid-template: "stream0 stream1 stream2"
                   "stream3 stream4 stream5"
                   ". stream6 .";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:portrait) {
  .grid-7 {
    grid-template: "stream0 stream1"
                   "stream2 stream3"
                   "stream4 stream5"
                   "stream6 stream6";
    grid-template-rows: repeat(4, 25%);
  }
}

@media screen and (orientation:landscape) {
  .grid-8 {
    grid-template: "stream0 stream0 stream1 stream1 stream2 stream2"
                   "stream3 stream3 stream4 stream4 stream5 stream5"
                   ". stream6 stream6 stream7 stream7 .";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:portrait) {
  .grid-8 {
    grid-template: "stream0 stream1"
                   "stream2 stream3"
                   "stream4 stream5"
                   "stream6 stream7";
    grid-template-rows: repeat(4, 25%);
  }
}

.grid-9 {
  grid-template: "stream0 stream1 stream2"
                 "stream3 stream4 stream5"
                 "stream6 stream7 stream8";
  grid-template-rows: repeat(3, calc(100%/3));
}

@media screen and (orientation:landscape) {
  .grid-10 {
    grid-template: "stream0 stream0 stream1 stream1 stream2 stream2 stream3 stream3"
                   "stream4 stream4 stream5 stream5 stream6 stream6 stream7 stream7"
                   ". stream8 stream8 . . stream9 stream9 .";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:portrait) {
  .grid-10 {
    grid-template: "stream0 stream0 stream0 stream1 stream1 stream1 stream2 stream2 stream2"
                  "stream3 stream3 stream3 stream4 stream4 stream4 stream5 stream5 stream5"
                  "stream6 stream6 stream6 stream7 stream7 stream7 stream8 stream8 stream8"
                  "stream9 stream6 stream6 stream6 stream6 stream6 stream6 stream6 stream6";
    grid-template-rows: repeat(4, 25%);
  }
}

@media screen and (orientation:landscape) {
  .grid-11 {
    grid-template: "stream0 stream0 stream1 stream1 stream2 stream2 stream3 stream3"
                   "stream4 stream4 stream5 stream5 stream6 stream6 stream7 stream7"
                   ". stream8 stream8 stream9 stream9 stream10 stream10 .";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:portrait) {
  .grid-11 {
    grid-template: "stream0 stream0 stream1 stream1 stream2 stream2"
                   "stream3 stream3 stream4 stream4 stream5 stream5"
                   "stream6 stream6 stream7 stream7 stream8 stream8"
                   "stream9 stream9 stream9 stream10 stream10 stream10";
    grid-template-rows: repeat(4, 25%);
  }
}

@media screen and (orientation:landscape) {
  .grid-12 {
    grid-template: "stream0 stream1 stream2 stream3"
                   "stream4 stream5 stream6 stream7"
                   "stream8 stream9 stream10 stream11";
    grid-template-rows: repeat(3, calc(100%/3));
  }
}

@media screen and (orientation:portrait) {
  .grid-12 {
    grid-template: "stream0 stream1 stream2"
                   "stream3 stream4 stream5"
                   "stream6 stream7 stream8"
                   "stream9 stream10 stream11";
    grid-template-rows: repeat(4, 25%);
  }
}
