.chat-message-layout {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: center; 
}

.chat-message-wrap {
  width: 850px;
  display: flex;
}

.chat-message-wrap-right{
  justify-content: flex-end;
  text-align: end;
}

.chat-message-wrap-left{
  justify-content: flex-start;
  text-align: start;
}

.chat-message-avatar {
  width: 30px;
  margin: 5px 5px 0 0;
}

.chat-message-container-position-right {
  min-width: 120px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  text-align: left;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.chat-message-container-position-left {
  min-width: 120px;
  align-items: flex-start;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #435f7a;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.chat-message-container-position-right > span {
  color: #32465a;
  font-weight: 100;
  padding: 0 5px;
  font-size: 16px;
  line-height: 1.5;
}

.chat-message-container-position-left > span {
  color: #f5f5f5;
  font-weight: 100;
  padding: 0 5px;
  font-size: 16px;
  line-height: 1.5;
}

.chat-message-right-footer > span {
  display: block;
  text-align: right;
  padding-right: 1px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #a0a0a0;
}

.chat-message-left-footer > span {
  display: block;
  text-align: right;
  padding-right: 5px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #cbcbcb;
}

