.private-dialog-details {
  width: 320px;
  height: 175px;
}

.details-header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.details-close {
  background: transparent !important;
}

.header-title {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.details-body {
  overflow-y: hidden;
}

.dialog__wrap {
  display: flex;
  padding: 6px 16px 15px 16px;
  align-items: center;
  width: 100%;
}

.dialog__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: default;
    }
  }
}

.dialog__info {
  display: flex;
  width: calc(100% - 105px);
  color: #212529;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.dialog__fullname {
  max-width: 300px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #495057;
  font-size: 18px;
  margin: 0;
  padding: 2px 0;
}

.dialog__last-activity {
  font-size: 13px;
}
