<div (click)="hideButtons=!hideButtons" [attr.data-meetId]="meetingId$ | async"
     class="videochat-streams grid-{{(participantArray$ | async)?.length}}">
  <app-stream-container
    (videoLoaded)="ChangeDisable($event)"
    *ngFor="let user of (participantArray$ | async);index as i;"
    [ngClass]="{'mirror':shareScreenIconName !== 'stop_screen_share' && !switchDone && i===0}"
    [className]="'stream'+i"
    [currentUserStream]="user.stream"
    [currentUserId]="user.id"
    [currentUserIndex]="i"
    [currentUserName]="user.name"
  ></app-stream-container>
</div>
<div [style.visibility]="hideButtons?'hidden':'visible'" id="videochat-buttons-container">
  <div id="user-device"
       class="user-device"
       [ngClass]="switchVideoActive ? 'active':''"
       (mouseleave)="switchVideoActive = false"
  >
    <input *ngFor="let dev of mediaDevice"
           [name]="dev.deviceId"
           [value]="dev.label"
           (click)="switchCamera($event)"
           class="device-btn"
           type="button">
  </div>
  <button [disabled]="DisableButton || !MicroConnect" (click)="muteOrUnmuteMicro()" id="mute-micro" mat-fab
          color="primary"
          class="videochat-button"
          aria-label="Mute Microphone">
    <mat-icon>{{microphoneIconName}}</mat-icon>
  </button>
  <button [disabled]="DisableButton || !CameraConnect || videoPermission" (click)="muteOrUnmuteVideo()" id="mute-video"
          mat-fab class="videochat-button"
          aria-label="Mute Video">
    <mat-icon>{{videoIconName}}</mat-icon>
  </button>
  <button (click)="stopCall()"
          id="stop-call" mat-fab color="warn" class="videochat-button" aria-label="Stop Call">
    <mat-icon>phone_missed</mat-icon>
  </button>
  <button [disabled]="DisableButton || mediaDevice.length < 2 || !CameraConnect || videoPermission"
          (click)="switchVideoActive = !switchVideoActive"
          id="switch-video" mat-fab
          class="videochat-button" aria-label="Switch Video">
    <mat-icon>switch_video</mat-icon>
  </button>
  <button [disabled]="isMobile || isTablet" (click)="shareScreen()"
          id="share-screen" mat-fab class="videochat-button" aria-label="Share Screen">
    <mat-icon>{{shareScreenIconName}}</mat-icon>
  </button>
</div>
