<mat-form-field class="change-view" appearance="fill">
  <mat-select
    [(ngModel)]="selectedValue"
    (ngModelChange)="changeView()"
  >
    <mat-select-trigger>
      <mat-icon style="margin-right: 10px">{{gridStatus ? 'view_module' : 'view_sidebar'}}</mat-icon>
      {{gridStatus ? 'Grid View' : 'Speaker View'}}
    </mat-select-trigger>
    <mat-option value="grid">
      <mat-icon>view_module</mat-icon>
      Grid View
    </mat-option>
    <mat-option [disabled]="(participantArray$ | async)?.length === 1" value="sidebar">
      <mat-icon>view_sidebar</mat-icon>
      Speaker View
    </mat-option>
  </mat-select>
</mat-form-field>
<div (click)="toggleControlButtons()" [attr.data-meetId]="meetingId$ | async"
     (mouseleave)="switchVideoActive = false"
     class="videochat-streams"
     [ngClass]="{'grid-view':gridStatus, 'sidebar-view':sidebarStatus}">
  <mat-progress-spinner *ngIf="loading$ | async" [mode]="'indeterminate'"></mat-progress-spinner>
  <div class="speaker-stream" *ngIf="sidebarStatus">
    <app-stream-container
      (videoLoaded)="ChangeDisable($event)"
      *ngFor="
      let user of (participantArray$ | async | slice:startSliceSide:endSliceSide);
      index as i;
      trackBy:trackById
      "
      [className]="'stream'+i"
      [shareScreenIconName]="shareScreenIconName"
      [switchDone]="switchDone"
      [userStream]="user.stream"
      [userId]="user.id"
      [userIndex]="(participantArray$ | async)?.length === 1?i:i+1"
      [userName]="user.name"
      [userMicrophoneLevel]="user.volumeLevel"
      [userBitrate]="user.bitrate"
      [userConnectionStatus]="user.connectionStatus"
      [userVideoStatus]="user.videoStatus"
    ></app-stream-container>
  </div>
  <div class="users-streams" [ngClass]="setNgClassProperty((participantArray$ | async)?.length)">
    <app-stream-container
      (videoLoaded)="ChangeDisable($event)"
      *ngFor="
      let user of (participantArray$ | async | slice:startSliceGrid);
      index as i;
      trackBy:trackById
      "
      [className]="'stream'+i"
      [shareScreenIconName]="shareScreenIconName"
      [switchDone]="switchDone"
      [userStream]="user.stream"
      [userId]="user.id"
      [userIndex]="i"
      [userName]="user.name"
      [userMicrophoneLevel]="user.volumeLevel"
      [modeGrid]="gridStatus"
      [userBitrate]="user.bitrate"
      [userConnectionStatus]="user.connectionStatus"
      [userVideoStatus]="user.videoStatus"
    ></app-stream-container>
  </div>
</div>
<div [style.visibility]="hideButtons?'hidden':'visible'" id="videochat-buttons-container">
  <div id="user-device"
       class="user-device"
       [ngClass]="switchVideoActive ? 'active':''"
       (mouseenter)="switchVideoActive = true"
       (mouseleave)="switchVideoActive = false"
  >
    <input *ngFor="let dev of mediaDevice"
           [name]="dev.deviceId"
           [value]="dev.label"
           (click)="switchCamera($event)"
           class="device-btn"
           type="button">
  </div>
  <button [disabled]="DisableButton || !MicroConnect" (click)="muteOrUnmuteMicro()" id="mute-micro" mat-fab
          color="primary"
          class="videochat-button"
          aria-label="Mute Microphone">
    <mat-icon>{{microphoneIconName}}</mat-icon>
  </button>
  <button [disabled]="DisableButton || !CameraConnect || !videoPermission" (click)="muteOrUnmuteVideo()" id="mute-video"
          mat-fab class="videochat-button"
          aria-label="Mute Video">
    <mat-icon>{{videoIconName}}</mat-icon>
  </button>
  <button (click)="toggleChat()"
          [disabled]="DisableButton"
    id="toggle-chat" mat-fab class="videochat-button" aria-label="toggle chat">
    <mat-icon>question_answer</mat-icon>
  </button>
  <button (click)="stopCall()"
          id="stop-call" mat-fab color="warn" class="videochat-button" aria-label="Stop Call">
    <mat-icon>phone_missed</mat-icon>
  </button>
  <button [disabled]="DisableButton || mediaDevice?.length < 2 || !CameraConnect || !videoPermission"
          (click)="switchVideoActive = !switchVideoActive"
          (mouseleave)="switchVideoActive = false"
          id="switch-video" mat-fab
          class="videochat-button" aria-label="Switch Video">
    <mat-icon>switch_video</mat-icon>
  </button>
  <button [disabled]="DisableButton || isMobile || isTablet" (click)="shareScreen()"
          id="share-screen" mat-fab class="videochat-button" aria-label="Share Screen">
    <mat-icon>{{shareScreenIconName}}</mat-icon>
  </button>
</div>
