<div class="user-connection" (mouseenter)="statsHide = false" (mouseleave)="statsHide = true">
  <mat-icon
    [ngClass]="{'good':userConnectionStatus === 'good' || userBitrate === undefined
    ,'average':userConnectionStatus === 'average'}"
    svgIcon="connection">
  </mat-icon>
</div>
<mat-icon
  *ngIf="!(userBitrate === undefined || isMobile || isTablet)"
  (click)="toFullScreen($event)"
  [ngClass]="'btn-'+userId"
  class="fullscreen"
  svgIcon="fullscreen">
</mat-icon>
<div class="user-stats user-stats-{{userId}}" [hidden]="statsHide">
  <span>
    Connection {{userConnectionStatus || 'good'}} <br>
    {{userMicrophoneLevel ? 'Volume level ' + userMicrophoneLevel : ''}}
    <br *ngIf="userMicrophoneLevel">
    {{userBitrate ? 'Speed ' + userBitrate : ''}}
  </span>
</div>
<div [ngClass]="userVideoStatus?'':'show-bg-image'" class="user-placeholder">
  <div class="user-image"
       [style.background]="'url(../../../assets/animals/animals_'+bgImageNum
       +'.jpg) center center / contain no-repeat rgb(255, 255, 255)'"
  ></div>
</div>
<div class="container-full-screen">
  <video [srcObject]="userStream"
         [ngClass]="{'mirror':shareScreenIconName !== 'stop_screen_share' &&
          !switchDone &&
           userMicrophoneLevel === undefined}"
         playsinline
         preload="auto"
         autoplay
         [muted]="userMicrophoneLevel === undefined"
         (loadeddata)="showVideo()"
         (canplaythrough)="unDisableButton()"
         id="stream-{{userId}}"
         class="videochat-stream"
  ></video>
</div>
<div class="display-user-name">
  <p class="user-name">{{userMicrophoneLevel === undefined ? 'me' : userName}}</p>
</div>
