.auth {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 320px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c4c7ca;
  border-radius: 5px;

  &__logo {
    display: flex;
    justify-content: center;

    img {
      width: 200px;
      height: 125px;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .input__container{
      width: 100%;
      height: 85px;
    }

    &-error{
      margin-right: auto;
      color: red;
    }

    &-input {
      padding: 12px 20px;
      width: 100%;
      margin: 10px 0;
      border: 1px solid #eee;
      border-radius: 10px;
      background-color: #eee;
      color: #837e82;
      font-size: 18px;
      font-weight: normal;
    }

    &-btn {
      width: 100%;
      padding: 14px 20px;
      margin: 15px 0;
      border: 1px solid #00e3cf;
      border-radius: 20px;
      font-size: 18px;
      font-weight: bold;
      background-color: #00e3cf;
      color: #fff;
    }
  }

  &__footer {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000;
    p{
      margin: 10px 0 15px 0;
    }
    a{
      font-weight: bold;
      border-bottom: 1px solid #000;
      &:hover{
        border: none;
        cursor: pointer;
      }
    }
  }
}


