@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet');

body{
  font-family: 'Open Sans', sans-serif;
}

.home-frame{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27ae60;
}

.home-active-container{
  width: 91%;
  min-width: 360;
  min-height: 640;
  background-color: white;
}

@media screen and (min-device-width: 640px){
  .default-grid{
    margin: 0;
    padding: 0;
  }
  .default-row{
    margin: 0;
    padding: 0;
  }
}