.main__container {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  & form {
    display: flex;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    & .send-btn {
      border: none;
      font-family: "Roboto";
      padding: 0px 15px;
      background-color: dodgerblue;
      color: white;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
    }
    & .message__area {
      height: 50px;
      border: 1px solid #d9d9d9;
      font-size: 16px;
      font-family: "Roboto";
      &::placeholder {
        font-size: 16px;
        font-family: inherit;
      }
    }
  }
  & .main__header {
    flex: 0 1 11.5%;
    position: relative;
    background-color: white;
    margin-left: 15px;
    border-bottom: 1px solid #c0c0c0;

    & .header-none {
      width: 100%;
      font-weight: 600;
      font-size: 30px;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  & .messages__container {
    flex: 0 1 100%;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    & .messages {
      display: flex;
      padding: 55px;
      flex-direction: column;
    }

    & .choose__chat {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & .message__area {
    width: 100%;
    resize: none;
  }
}
