.chat__container {
	height: 100%;
	width: 360px;
	//   position: absolute;
	position: relative;
	right: 0;
	z-index: 6;
	top: 0;
	background: white;
	padding: 0px 0px 15px 0px;
 
	.close__btn {
	  position: absolute;
	  content: "";
	  z-index: 7;
	  right: 20px;
	  top: 10px;
	  width: 30px;
	  height: 30px;
	  cursor: pointer;
	  &::after,
	  &::before {
		 position: absolute;
		 right: 0;
		 bottom: 50%;
		 transform: translateY(-50%);
		 content: "";
		 width: 100%;
		 height: 3px;
		 border-radius: 25%;
		 background-color: black;
	  }
	  &::after {
		 transform: rotateZ(45deg);
	  }
	  &::before {
		 transform: rotateZ(-45deg);
	  }
	}
 
	.chat__content {
	  padding-top: 50px;
	}
 
	& .chat__content {
	  height: 100%;
	  width: 100%;
	  position: relative;
	  right: 0;
	  z-index: 6;
	  top: 0;
	  background: white;
	  display: flex;
	  flex-direction: column;
	  //  justify-content: space-between;
	  justify-content: flex-end;
	}
	@media screen and (max-width: 767px) {
	  width: 100%;
	}
 
	& .chat__form {
	  width: 100%;
	  padding: 0px 0px 0px 15px;
 
	  & .area__container {
		 position: relative;
		 display: flex;
		 align-items: center;
 
		 & textarea {
			width: 100%;
			resize: none;
			border-radius: 25px;
			padding: 10px 0px 5px 5px;
			flex: 1 1 80%;
			margin-right: 10px;
		 }
		 & button {
			height: 40px;
			width: 40px;
			cursor: pointer;
			border: none;
			background: url(../../../images/send-message.png) no-repeat center;
			transition: 0.2s ease-in-out;
			border-radius: 50%;
			background-color: white;
			outline: none;
			&:hover {
			  background-color: rgb(223, 222, 222);
			}
		 }
	  }
	}
 }
 