.cam__button {
  width: 212px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #35495e;
  color: #35495e;
  border-radius: 4px;
  overflow: hidden;

  transition: 0.2s ease-in-out;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  background: transparent;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
  &:hover {
    color: white;
    background-color: #2f3b47;
  }
  &:active {
    color: white;

    background-color: #2f3b47;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
