.join__form {
  position: relative;
  text-align: center;
  width: 76%;
  height: 80%;
  margin: 0 auto;
  padding-top: 50px;

  & .form__info {
    display: flex;
    opacity: 0;
    transition: 0.2s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
    & input[type="text"] {
      /* Remove First */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      /* Then Style */
      border-radius: 15px;
      border: 1px dashed #bbb;
      padding: 10px;
      line-height: 20px;
      text-align: center;
      background: transparent;
      outline: none;
    }
    & input {
      flex: 0 1 50%;
      padding: 5px 0px;
      width: 50%;
      border: none;
      outline: none;
      border-bottom: 1px solid #000;
      &:focus {
      }
      &::placeholder {
        text-align: center;
      }
    }
    & button {
      cursor: pointer;

      flex: 0 0 auto;
      height: 40px;
      width: 150px;
      border-radius: 5px;
      border: none;
      background: linear-gradient(#464d55, #25292e);
      color: white;
      font-size: 16px;
      font-weight: 600;
      opacity: 1;
      transition: 0.3s;
    }
  }
  & .video__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    & video {
      transform: rotateY(180deg);
    }

    & .camera__bg {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: url("../../images/camera__off.png") no-repeat center;
      border: 10px solid;
      background-color: white;
      padding: 2px;
      opacity: 0;

      top: 0;
      left: 0;
      transition: 0.2s;

      &.show {
        opacity: 1;
      }
    }
    & .user__cam {
      position: relative;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: 0.2s;
      object-fit: contain;
      z-index: 3;
    }
  }

  & .buttons {
    position: absolute;
    top: 85%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 4;
  }
}
.micro__btn {
  background-color: rgb(112, 112, 252);
}

.video__btn-prejoin {
  background-color: rgb(112, 112, 252);
  cursor: pointer;
  &:hover {
    opacity: 0.95 !important;
  }
  &:disabled {
    background-color: #004000;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      height: 90%;
      width: 3px;
      background-color: white;
      left: 50%;
      z-index: 20;
      transform: rotateZ(-45deg);
    }
  }
}
.lds-dual-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 80px;
  transform: translate(-50%, -50%);
  height: 80px;
  z-index: 1;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 992px) {
  .join__form {
    padding: 0;
    margin: 0;
    width: 100%;

    & .buttons {
      top: auto;
      bottom: 3%;
    }

    & .video__container {
      height: 100%;
      & .camera__bg {
        border: 5px solid black;
      }
      & .user__cam {
        width: auto;
      }
    }

    & .form__info {
      padding-top: 20px;

      & input {
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .lds-dual-ring {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .join__form {
    padding: 0;
    margin: 0;
    width: 100%;

    & .buttons {
      top: auto;
      bottom: 3%;
    }

    & .video__container {
      height: 100%;
      & .camera__bg {
        border: 2px solid black;
      }
      & .user__cam {
        width: auto;
      }
    }

    & .form__info {
      padding-top: 0;

      & input {
        width: 85%;
      }
    }
  }
}
