.dialog-container {
  position: relative;
  width: 100%;
  background-color: #2c3e50;
}

.dialog-container > button{
  width: 100%;
  padding: 7px;
  transition: all 0.2s; 
  border: none;
  outline: none;
  background-color: #32465a;
  
}
.dialog-container > button > span{
  width: 100%;
  margin-left: 10px;
  color: #d2d2d2;
  font-size: 14px;
}

.dialog-container > button:hover{
  transition: all 0.2s;
  background-color: #435f7a;
}

.dialog-input-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  background-color:#32465a;
}

.dialog-input-search-icon {
  margin: 0 15px;
}

.dialog-input-search > input{
  width: 90%;
  padding: 3px;
  background-color:#32465a;
  font-size: 14px;
  outline: none;
  border: none;
  color: #d2d2d2;
}

.dialog-input-search > input::placeholder{
  color: #d2d2d2;
}

.dialog-info-container{
  position: relative;
  height: calc(100vh - 231px);
}

.dialog-container ::-webkit-scrollbar{
  width: 10px;
}

.dialog-container ::-webkit-scrollbar-thumb {
  background: #243140; 
}
.dialog-info-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dialog-info-container ul li{
  height: 75px;
  padding-left:15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 5px solid transparent;
  cursor: pointer;
}

.dialog-info-container ul li:hover{
  cursor: pointer;
  background: #32465a;
  border-right: 5px solid #435f7a;
}

.dialog-wrap-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.dialog-wrap-block-left {
  display: flex;
  flex-direction: column;
}


.dialog-wrap-block-left span{
  display: block;
  max-width: 180px;
  color: #f5f5f5;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dialog-wrap-block-left h5{
  color: #f5f5f5;
  font-weight: 600;
  font-size: 1em;
  max-width: 180px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}

.dialog-wrap-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dialog-wrap-block-right p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.9em;
  margin: 0 0 5px 0;
}

.dialog-wrap-block-right span {
  display: flex;
  border-radius: 50%;
  font-size: 0.9em;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #228d1c;
}


.dialog-no-chats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}