.user__stats {
  opacity: 0;
  color: white;
  width: 150px;

  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 10px;
  text-align: center;
  padding: 5px 0px;
  position: absolute;
  left: 45px;
  top: 25px;
  transition: 0.3s ease-in-out;
  z-index: 3;

  & h4 {
    font-size: 16px;
    font-weight: 500;
  }
}
.link__info {
  color: white;
  font-size: 20px;
}
