.new-chat__form {
  &.create {
    padding-top: 30px;
  }
  & .chat__img {
    & img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  & .chat__name {
    margin: 0 auto;
    width: 90%;
    height: 15px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #dbdbdb;
    margin-top: 20px;

    &::placeholder {
      padding-left: 20px;
    }
  }
}
