.participant-avatar {
  position: absolute;
  bottom: 50%;
  left: -45px;
  transform: scale(1, -1) translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.message-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 80%;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.message {
  max-width: 100%;
  transform: scale(1, -1);
  line-height: 1.25;
  max-width: 80%;
  padding: 10px;
  position: relative;
  word-wrap: break-word;
  min-width: 150px;

  &.me {
    background-color: rgb(233, 246, 255);
    border: 1px solid rgb(23, 143, 225);
    border-radius: 10px 2px 10px 10px;
    color: #fff !important;
  }

  &.them {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 143, 225);
    border-radius: 2px 10px 10px 10px;
    color: #000;
  }
}

cdk-virtual-scroll-viewport {
  transform: scale(1, -1);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#scroll-bar {
  overflow-y: scroll;
  /* border: 2px red solid; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 16px;
}

.message-container.me + .message-container.them {
  margin-top: 16px;
}

.message-container.them + .message-container.me {
  margin-top: 16px;
}

.message-name {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: black;
  max-width: 50px;

  &.me {
    left: 100%;
  }
}


.message-text {
  color: #000;
  font-size: 16px;
  margin: 0;
  white-space: pre-line;
}

.message-photo {
  max-height: 200px;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.them {
  .message-time {
    bottom: -13px;
    right: 8px;
  }
}

.me {
  .message-time {
    bottom: -13px;
    right: 20px;
  }
}

.message-time {
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  color: rgb(0, 173, 239);
  position: absolute;
}

.message-status {
  color: gray;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: -11px;
  right: -7px;
}

@media screen and (max-width: 576px) {
  .participant-avatar{
    display: none;
  }
}
