.create-wrap {
  width: 500px;
  height: 500px;
}

.create-header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e7eb;
}

.create-close {
  background: transparent !important;
}

.header-title {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.create-body {
  padding: 6px 16px;
  height: calc(100% - 65px);
  overflow-y: hidden;
  border-bottom: 1px solid #e3e7eb;
}

.select-info {
  display: flex;
  margin-top: 5px;
  color: #000;
  font-size: 16px;
}

.search-input {
  margin: 15px 0;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  padding: 6px 10px;
  transition: all .2s linear;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 10px;
}

.searched-participants {
  height: calc(100% - 130px);
  overflow-y: auto;
}

.participant-item-search {
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0px 1px 0 0 rgb(0 0 0 / 3%);
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}

.participant-avatar-search {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.participant-name-search {
  max-width: calc(100% - 80px);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .create-wrap {
    width: 100%;
  }
}
